<%= erb :'/questions/_seperator', :layout => false %>


<!-- Question begins here -->
<div class='container'>
  <div class="col-sm-12">
    <div class="row">
      <h2><%=@question.title%></h2>
    </div>
  </div>
  <!-- Question ends here -->



<div class="col-sm-2">
  <a href='/questions/<%= @question.id %>/votes/add'>
    <h2><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></h2>
  </a>
  <h2><%=@question.votes.sum(:vote_value)%></h2>
  <a href='/questions/<%= @question.id %>/votes/minus'>
  <h2><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></h2>
</a>
  votes
  <h2><%=@question.answers.count%></h2>
  answers
</div>

  <div class="col-sm-10">
    <p><%=@question.body%></p>
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    asked <%=@question.user.full_name%> on <%=@question.created_at%>

  </div>
</div>
<% sorted_answer = @question.answers.sort_by {|answer| answer.votes.sum(:vote_value)}.reverse %>
<% sorted_answer.each do |response| %>

  <%= erb :'/answers/_answer', :layout => false, :locals => {:response =>response} %>

<%end%>

<% if session.has_key?(:user_id) %>
  <div class='container theme-showcase'>
<%= erb :'/answers/_form', :layout => false, locals:{question_id:@question.id} %>
</div>
<% end %>
