<%= erb :'/questions/_seperator', :layout => false %>


<!-- Question begins here -->

<div class="col-sm-12">
  <div class="row">
    <h2><%=@question.title%></h2>
  </div>
</div>
<!-- Question ends here -->


<div class="col-sm-2">
  <h2><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></h2>
  <h2><%=@question.votes.count%></h2>
  <h2><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></h2>
  votes
  <h2><%=@question.answers.count%></h2>
  answers
</div>

  <div class="col-sm-10">
  <p> <%=@question.body%>
</p>
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    asked <%=@question.created_at%>
    <%=@question.user.full_name%>

  </div>
