<%= erb :'/questions/_seperator', :layout => false %>


<!-- Question begins here -->
<div class='container'>
  <div class="col-sm-12">
    <div class="row">
      <h2><%=@question.title%></h2>
    </div>
  </div>
  <!-- Question ends here -->



<div class="col-sm-2">
  <a href='/questions/<%= @question.id %>/votes/add'>
    <h2><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></h2>
  </a>
  <h2><%=@question.votes.sum(:vote_value)%></h2>
  <a href='/questions/<%= @question.id %>/votes/minus'>
  <h2><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></h2>
</a>
  votes
  <h2><%=@question.answers.count%></h2>
  answers
</div>

  <div class="col-sm-10">
    <p><%=@question.body%></p>
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    asked <%=@question.user.full_name%> on <%=@question.created_at%>

  </div>
</div>

<% @question.answers.each do |response| %>


<div class='container'>
  <div class="col-sm-2">
      <a href='/answers/<%= response.id %>/votes/add'>
    <h2><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></h2>
    </a)
    <h2><%= response.votes.sum(:vote_value)%></h2>
       <a href='/answers/<%= response.id %>/votes/minus'>
    <h2><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></h2>
  </a>

      votes
    </div>
    <div class="col-sm-10">
      <p><%= response.body %>
      </p>
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      Answered <%= response.created_at.month.to_s + '/' + response.created_at.day.to_s + '/' + response.created_at.year.to_s%> BY
      <%= response.user.first_name + ' ' + response.user.last_name%>
    </div>
      <div class="row comments_div"  id=<%="comments-for-#{response.id}"%> style="text-align: left; margin-top: 20px;">
    <h5>Comments</h5>
    <% response.comments.each do |c| %>
      <div class="row" style="text-align: left; margin-top: 20px;">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= c.body %>
      </div>
    <% end %>
  </div>



  <div class="row" style="margin-top: 20px;">
    <button type="button" class="btn btn-default btn-sm comment_show_button">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Comment
    </button>
    <br><br>

    <!-- Comment Form Starts Here -->
    <div class="main_comment_div">
      <% if session[:user_id] %>
        <form class="comment_form" action="/answer_comments" method="POST">
          <fieldset class="form-group">
            <label for="textArea">Your Comment</label>
            <textarea class="form-control textArea" name="body" id="textArea" rows="3" required></textarea>
            <input type="hidden" name="answer_id" value="<%= response.id %>">
          </fieldset>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      <% else %>
        <div class="alert alert-danger" role="alert">You must be logged in to make a comment. Click here to <a href="/sessions/new">login</a>...</div>
      <% end %>
    </div>


  </div>

<%end%>
<% if session.has_key?(:user_id) %>
  <div class='container theme-showcase'>
<%= erb :'/answers/_form', :layout => false, locals:{question_id:@question.id} %>
</div>
<% end %>
